.App {
  display: flex; /* 배치를 유연하게 하기 위해서 쓰는거 */
  flex-direction: column;
  gap: 10px; /* gap 이라는 속성은 디스플레이가 flex 로 설정된 요소에만 적용 할 수 있음  */
  width: 500px;
  margin: 0 auto; /*  auto는 사용 가능한 공간을 균등하게 나누어 배분 블록 레벨 요소(block-level element)를 수평 중앙 정렬 */
}
